@font-face {
  font-family: "DINPro";
  src: local("DINPro"),
   url("./fonts/DINPro/DINPro.ttf") format("truetype");
   /* font-weight: bold; */
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: DINPro;
}

